name: Go CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: "go.mod"
          cache: true

      - name: Download Go modules
        run: go mod download

      - name: Build project
        run: go build -v ./...

      - name: Run tests
        run: go test -v ./...
